* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
  }